<div class="cv-wrapper">
  <div class="experience" id="experience">
    <ul>
      <li *ngFor="let item of items">
        <header>
          <h3>{{ item.company }}</h3>
          <span>{{ item.title }}</span>
          <p>{{ item.date }}</p>
        </header>
        <div>
          <p>{{ item.description }}</p>
        </div>
      </li>
    </ul>
  </div>
  <p class="more">Voor meer kun je terecht op mijn
    <a href="https://www.linkedin.com/in/jeroencbijl/" target="_blank" rel="external">LinkedIn</a>.</p>
</div>