<div class="about-wrapper">

    <div class="flex-wrapper">
        <div class="item c1">
            <p>
                <mark>Een ambiteuse Frontend Developer. Thuis in de HTML, CSS (SASS) en JavaScript. Lerende in de Angular 6, ReactJS
                    en VueJS.</mark>
            </p>
        </div>
        <div class="item c2">
            <p>Hoi! Ik ben Jeroen (1985). Een Frontend Developer die al een tijdje rondloopt. Mijn eerste PC had ik op mijn
                12e uit elkaar gehaald om weer, succesvol, in elkaar te zetten. Toen dit gelukt was had ik de smaak te pakken.
                Tijdens mijn eerste stage in de automatisering kreeg ik te maken met het web. Mijn eerste website had ik
                al snel gebouwd met inline style, marquee, blink, tables en framesets.</p>
        </div>
        <div class="item c3">
            <p>Op dit moment ben ik werkzaam bij Clockwork, dit is een onderdeel van Ordina. Hier ben ik nu al meer dan 5 jaar
                "Software Engineer", gericht op het Frontend. Met deze technieken werk ik aan projecten bij diverse klanten.</p>
            <p>
                In mijn vrije tijd ben ik druk bezig met het uitbreiden van mijn skillset. Zo ben ik op dit moment bezig met het leren van
                Angular (6). Ook ben ik graag in de natuur te vinden om te fotograferen of te Geocachen.</p>
        </div>

    </div>
</div>