<div class="menu" (click)="toggleMenu()" [ngClass]="menuOpen ? 'open' : ''">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" (click)="toggleMenu()" [ngClass]="menuOpen ? 'open' : ''">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#experience">Ervaring</a>
      </li>
      <li>
        <a href="#portfolio">Portfolio</a>
      </li>
      <li>
        <a href="#" class="disabled">Contact</a>
      </li>
    </ul>
  </nav>
</div>