<div class="portfolio-wrapper" id="portfolio">

  <ul class="card-wrapper">

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

    <li class="card">
      <div class="img">
        <img src="https://placekitten.com/g/300/150" alt="">
      </div>
      <div class="text">
        <h2>
          <a href="#">Website</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        <small>Jeroen Bijl</small>
      </div>
    </li>

  </ul>

</div>